<a href="https://colab.research.google.com/github/Sameersah/CMPE-255/blob/main/PythonProgrammingByDerekBanas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming by Derek Banas

https://www.youtube.com/watch?v=N4mEzFDjqtA&t=960s

Basics

In [ ]:
print("Hello World")

Hello World

## Comment

In [ ]:
# commnent sample

multi line comment 3 single quotes

In [ ]:
'''
multi line

comment
'''

'\nmulti line \n\ncomment\n'

you can store anything in a python variable

In [ ]:
name = "sameer"
print(name)

sameer

## Data Types

There are 5 main data types in python.
Numbers
String
List
Tuples
Dictionaries

7 Arithmatic operators.
+ addition +
- subtraction -
* multilication *
* exponential calculation **
* floor division \\

In [21]:
# exponenent
a = 5 ** 2
print(a)

25

In [ ]:
#floor devision
a = 5//2
print(a)

2

In [ ]:
# actual division
a = 5/2
print(a)

2.5

In [ ]:
# print statement
a = 10
print("this is text and variable print statement",a)

this is text and variable print statement 10

In [ ]:
# use underscore to name variables
temp_variable = 100
print("this is a temp_variable",temp_variable)

In [ ]:
# multi line strings
multi_line_quote = '''
this is a multi line quote
'''

str = "string 2"

In [ ]:
# new lines

print('\n'*3)

## List

In [ ]:
# examples of list

grocery_list = ['Juice', 'Tomatos','Potataos','Bananas']

print('First Item', grocery_list[0])
print('Second Item', grocery_list[1])
print("fourth Item", grocery_list[3])

print('Part of the list,  first index included, 2nd excluded', grocery_list[1:3])

First Item Juice
Second Item Tomatos
fourth Item Bananas
Part of the list,  first index included, 2nd excluded ['Tomatos', 'Potataos']

In [ ]:
# list of lists

non_grocery_list = ['wash car', 'pick up kids', 'cash check']

to_do_list = [non_grocery_list, grocery_list]

print("to do list", to_do_list)

grocery_list.append('Onions')

to do list [['wash car', 'pick up kids', 'cash check'], ['Juice', 'Tomatos', 'Potataos', 'Bananas']]

In [ ]:
# operation on list

print("original list is: ",grocery_list)
grocery_list.append("watermelons")
print("updated grocery list is: ",grocery_list)

grocery_list.insert(1,"bread")
print("Updated list is: ",grocery_list)

original list is:  ['Juice', 'bread', 'bread', 'Tomatos', 'Potataos', 'Bananas', 'watermelons', 'watermelons', 'watermelons']
updated grocery list is:  ['Juice', 'bread', 'bread', 'Tomatos', 'Potataos', 'Bananas', 'watermelons', 'watermelons', 'watermelons', 'watermelons']
Updated list is:  ['Juice', 'bread', 'bread', 'bread', 'Tomatos', 'Potataos', 'Bananas', 'watermelons', 'watermelons', 'watermelons', 'watermelons']

In [ ]:
# duplicate entry
grocery_list.append("watermelons")
print(grocery_list)

['Juice', 'bread', 'bread', 'bread', 'Tomatos', 'Potataos', 'Bananas', 'watermelons', 'watermelons', 'watermelons', 'watermelons', 'watermelons']

In [ ]:
# remove from list
grocery_list.remove("Bananas")
print("Update list is: ",grocery_list)

Update list is:  ['Juice', 'bread', 'bread', 'bread', 'Tomatos', 'Potataos']

In [ ]:
# multi variable types in list
new_list = ["sameer",29]
print("My name is",new_list[0],"and age is",new_list[1])

My name is sameer and age is 29

## Tuple

Similar to list that cannot be changed

In [ ]:
pi_tuple = ("sameer",29,"101 san fernando")
print("I stay at", pi_tuple[2])

I stay at 101 san fernando

In [ ]:

pi_tuple = (100,200,300,20,50)

length = len(pi_tuple)
max = max(pi_tuple)
min = min(pi_tuple)
print("length,min and max of tuple here is",length,",",max,",",min)

length,min and max of tuple here is 5 , 300 , 20

## Dictinory

basically hash table

In [ ]:
super_villains = {"key1":"value1","key2":"value2"}

print(super_villains["key1"])
print(super_villains.get("key2"))

value1
value2

## conditionals

In [ ]:
age = 12

if age > 16:
  print("you are old enough to drive!")
elif age > 10:
  print("You need to wait for 6 more years aprox.")


# and, not

You need to wait for 6 more years aprox.

## looping

In [ ]:
# 10 times

for x in range(0,10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [1]:
#double loop

num_list = [[1,2,3],[10,20,30],[100,200,300]]

for x in range(0,3):
  for y in range (0,3):
    print(num_list[x][y])

1
2
3
10
20
30
100
200
300

In [4]:
# while loop
import random

i = 0

while(i<=20):
  print("i: ",i)
  i = i+1

i:  0
i:  1
i:  2
i:  3
i:  4
i:  5
i:  6
i:  7
i:  8
i:  9
i:  10
i:  11
i:  12
i:  13
i:  14
i:  15
i:  16
i:  17
i:  18
i:  19
i:  20

## Function

## Functions

In [5]:
def function1(x,y):
  return x+y

result = function1(10,12)
print("result: ",result)

result:  22

## Input

In [7]:
import sys

input = sys.stdin.readline()
print("input is: ",input)

input is:

## File IO

In [9]:
test_file = open("text.txt","wb")
print(test_file.mode)

wb

## Objects

In [15]:
class Animal:
  __name = ""
  __height = 0
  __weight = 0

  def __init__(self,name,height,weight):
    self.__name = name
    self.__height = height
    self.__weight = weight


  def set_name(self,name):
    self.__name = name

  def get_name(self):
    return self.__name

  def set_height(self,height):
    self.__height = height

  def get_height(self):
    return self.__height

  def set_weight(self,weight):
    self.__weight = weight

  def get_weight(self):
    return self.__weight

  def get_type(self):
    return "Animal"



cat = Animal("cat1",20,30)
print(cat.get_name())

cat1

## Method OverLoading

In [20]:
class class1:
  __a = None
  __b = None
  __c = None

  def __init__(self,a,b,c):
    self.__a = a
    self.__b = b
    self.__c = c

  def set_a(self,a):
    self.__a = a

  def set_b(self,b):
    self.__b = b

  def set_c(self,c):
    self.__c = c

  def get_c(self):
    return self.__c

  def get_a(self):
    return self.__a

  def get_b(self):
    return self.__b



class class2(class1):
    __d = None

    def __init__(self,a,b,c,d):
      self.__d = d
      super(class2,self).__init__(a,b,c)

    def get_d(self):
      return self.__d


object1 = class2("a","b","c","d")
print(object1.get_d())

d